<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
  </head>
  <body style="font-family: 'Poppins', sans-serif">
    <div class="container-fluid">
      <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="card shadow" style="width: 750px">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <img src="C:\project\reimburse_app\frontend\resources\views\Admin\Gambar\ilustari login.jpeg" alt="Profile" class="img-fluid rounded mt-10" style="max-width: 210px" />
                <p class="card-text mb-1">Welcome to Reimburse</p>
                <p class="card-text small mt-0 mb-0">More flexibility and better privacy</p>
              </div>
              <div class="col-md-6">
                <h5 class="card-title text-center">Reimburse</h5>
                <h6 class="card-subtitle mt-3 text-body-secondary">Login</h6>
                <p class="card-text mt-2">Login Menggunakan Akses Khusus (Username: admin, Password:admin)</p>
                <form>
                  <div class="mb-3">
                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username" id="" />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="exampleInputPassword1" />
                  </div>
                  <button type="button" type="submit" class="btn btn-danger btn-primary w-100">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
