<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap Dashboard</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/views/Admin/stylingjs/cssoffcanvas.css" />
  </head>
  <body style="font-family: 'Poppins', sans-serif" data-page="Dashboard">
    <div class="app-layout d-flex min-vh-100">
      <div id="layout"></div>

      <div class="flex-grow-1 d-flex flex-column">
        <div id="layout2"></div>

        <!-- Alert Box -->
        <div id="alertBox" class="mx-3 mt-3"></div>

        <main class="main-content flex-grow-1" style="height: 510px" id="main-content">
          <div class="cream card rounded-4 mx-1">
            <div class="mx-4">
              <div class="row g-4 mb-4">
                <div class="col-md-3">
                  <div class="card shadow border-0 rounded-4 mt-3">
                    <div class="card-body">
                      <p class="text-center mb-1 fw-bold">TOTAL EMPLOYEES</p>
                      <div class="d-flex justify-content-center align-items-center">
                        <i class="bi bi-people fs-4 me-3"></i>
                        <h3 class="fw-bold mb-0" id="totalKaryawan">0</h3>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card shadow border-0 rounded-4 mt-3">
                    <div class="card-body">
                      <p class="text-center mb-1 fw-bold">APPLICATION QUEUE</p>
                      <div class="d-flex justify-content-center align-items-center">
                        <i class="bi bi-hourglass-split fs-4 me-3"></i>
                        <h3 class="fw-bold mb-0" id="pendingReimburse">0</h3>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card shadow border-0 mt-3 rounded-4">
                    <div class="card-body">
                      <p class="text-center mb-1 fw-bold">TOTAL SUBMISSIONS</p>
                      <div class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-file-earmark-text fs-4 me-3"></i>
                        <h3 class="fw-bold text-dark mb-0" id="totalPengajuan">0</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card shadow border-0 mt-3 rounded-4">
                    <div class="card-body">
                      <p class="text-center mb-1 fw-bold">TOTAL APPROVED</p>
                      <div class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-check2-circle fs-4 me-3"></i>
                        <h3 class="fw-bold text-dark mb-0" id="totalDiSetujui">0</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mx-4">
              <table class="table table-bordered rounded shadow-sm">
                <thead class="text-center">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Nomination</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>

    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/script/alert.js"></script>
    <script src="/script/helper.js"></script>
    <script src="/script/config.js"></script>
    <script src="/script/checkAuth.js"></script>
    <script src="/views/Admin/stylingjs/index1.js"></script>
    <script src="/views/Admin/stylingjs/partials.js"></script>
    <script src="/script/admin/infoAdmin.js"></script>
    <script src="/script/logout.js"></script>
    <script src="/script/admin/dashboard.js"></script>
  </body>
</html>
