<div class="offcanvas offcanvas-start" style="width: 250px; background-color: rgb(4, 4, 70)" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling">
  <div class="offcanvas-header border-bottom border-secondary">
    <h5 class="offcanvas-title text-white fw-bold">Menu</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body p-0">
    <ul class="list-unstyled m-0">
      <li>
        <a href="userdash.html" class="nav-link-custom nav-active p-3"> <i class="bi bi-columns-gap me-2"></i> Dashboard </a>
      </li>
      <li>
        <a href="riwyatuser.html" class="nav-link-custom p-3"> <i class="bi bi-file-earmark-text me-2"></i> Riwayat Saya </a>
      </li>
      <li>
        <a href="pengajuan.html" class="nav-link-custom p-3"> <i class="bi bi-cloud-upload me-2"></i> Pengajuan </a>
      </li>
      <li>
        <a href="account.html" class="nav-link-custom p-3"> <i class="bi bi-person-bounding-box me-2"></i> Account </a>
      </li>
    </ul>

    <div class="user-profile-section p-3 mt-auto d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <div class="bg-info rounded-circle d-flex align-items-center justify-content-center" style="width: 35px; height: 35px">
          <img
            id="userPhoto"
            src=""
            class="rounded-circle"
            style="width:35px; height:35px; object-fit:cover"
            alt="profile"
          />
        </div>
        <div class="ms-2 text-white">
          <div class="fw-bold small" id="profileUsername">dangcanelo</div>
          <div style="font-size: 0.7rem; opacity: 0.7" id="profileEmail">dangcanelo@edu.id</div>
        </div>
      </div>
      <div class="dropdown">
        <a href="#" class="text-white dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
        <ul class="dropdown-menu dropdown-menu-dark shadow">
          <li>
            <a class="dropdown-item small" id="btnLogout">
              <i class="bi bi-box-arrow-right me-2"></i>Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<nav class="navbar shadow-sm" style="background-color: rgb(4, 4, 70)">
  <div class="d-flex align-items-center px-3 justify-content-between w-100">
    <div class="d-flex align-items-center">
      <i class="bi bi-list fs-4 me-3 text-white" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"></i>
      <span class="navbar-brand mb-0 text-white h1">Reimburse</span>
    </div>
    <div class="text-white small">
      Halo, <span id="navUsername"></span>
      <i class="bi bi-person-circle ms-1"></i>
    </div>
  </div>
</nav>
<script src="../Script/karyawan/infoUser.js"></script>
<script src="../Script/logout.js"></script>