<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <style>
      body {
        font-family: 'Poppins', sans-serif;
        background: #f5f6fa;
      }

      .avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: #e4e6eb;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: auto;
      }

      .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .avatar-text {
        font-size: 48px;
        font-weight: 600;
        color: #555;
      }
      .nav-link-custom {
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;
      }
      .nav-link-custom:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #0dcaf0;
      }
      /* Indikator halaman aktif */
      .nav-active {
        background-color: rgba(255, 255, 255, 0.2);
        border-left: 4px solid #0dcaf0;
      }
    </style>
  </head>
  <body>
     <div class="offcanvas offcanvas-start" style="width: 250px; background-color: rgb(4, 4, 70)" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header border-bottom border-secondary">
        <h5 class="offcanvas-title text-white fw-bold" id="offcanvasScrollingLabel">USER MENU</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body p-0">
        <ul class="list-unstyled m-0">
          <li>
            <a href="#" class="nav-link-custom p-3"> <i class="bi bi-columns-gap me-2"></i> Dashboard </a>
          </li>
          
          <li>
            <a href="riwyatuser.html" class="nav-link-custom p-3"> <i class="bi bi-file-earmark-text me-2"></i> Riwayat Saya </a>
          </li>
          <li>
            <a href="pengajuan.html" class="nav-link-custom p-3"> <i class="bi bi-send-arrow-down me-2"></i> Pengajuan </a>
          </li>
          <li>
            <a href="profil.html" class="nav-link-custom p-3 nav-active"> <i class="bi bi-person-fill-add"></i> </i> Profil </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-content" id="mainContent">
      <nav class="navbar" style="background-color: rgb(4, 4, 70)">
        <div class="d-flex align-items-center px-2">
          <i class="bi bi-list fs-4 me-2 text-white" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"></i>
          <span class="navbar-brand mb-0 text-white h1">Profil User</span>
        </div>
      </nav>

      <!-- SETTINGS CARD -->
      <div class="container mt-4">
        <div class="card shadow mx-auto" style="max-width: 350px">
          <div class="card-body">
            <h5 class="text-center mb-4">Account Settings</h5>

            <!-- AVATAR -->
            <div class="avatar mb-4" id="displayAvatar">
              <span class="avatar-text" id="avatarInitial">U</span>
            </div>

            <div class="mb-3">
              <strong>Username</strong>
              <p id="displayUsername">user</p>
            </div>

            <div class="mb-3">
              <strong>Email</strong>
              <p id="displayEmail">user@mail.com</p>
            </div>

            <div class="mb-3">
              <strong>Password</strong>
              <p>********</p>
            </div>

            <div class="text-center">
              <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editModal">Edit Profile</button>
            </div>
          </div>
        </div>
      </div>

      <!-- MODAL EDIT -->
      <div class="modal fade" id="editModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="width: 450px">
            <div class="modal-header">
              <h5 class="modal-title fs-6">Edit Profile</h5>
              <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
              <!-- PREVIEW FOTO -->
              <div class="avatar mb-3">
                <img id="previewImage" style="display: none" />
                <span class="avatar-text" id="previewInitial">A</span>
              </div>

              <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control form-control-sm" id="usernameInput" placeholder=" Masukkan Username" />
              </div>

              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control form-control-sm" placeholder=" Masukkan Email" />
              </div>

              <!-- PASSWORD -->
              <div class="mb-3">
                <label class="form-label">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control form-control-sm" id="passwordInput" placeholder="Masukkan password" />
                  <button class="btn btn-outline-secondary" type="button" onclick="togglePassword()">
                    <i class="bi bi-eye" id="eyeIcon"></i>
                  </button>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label">Foto Profil</label>
                <input type="file" class="form-control" accept="image/*" onchange="previewPhoto(event)" />
              </div>
            </div>

            <div class="modal-footer">
              <button class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Batal</button>
              <button class="btn btn-primary btn-sm" onclick="saveProfile()">Simpan</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    function previewPhoto(event) {
      const img = document.getElementById('previewImage');
      const initial = document.getElementById('previewInitial');

      img.src = URL.createObjectURL(event.target.files[0]);
      img.style.display = 'block';
      initial.style.display = 'none';
    }

    function togglePassword() {
      const input = document.getElementById('passwordInput');
      const icon = document.getElementById('eyeIcon');

      if (input.type === 'password') {
        input.type = 'text';
        icon.classList.replace('bi-eye', 'bi-eye-slash');
      } else {
        input.type = 'password';
        icon.classList.replace('bi-eye-slash', 'bi-eye');
      }
    }

    function saveProfile() {
      const username = document.getElementById('usernameInput').value;
      const email = document.getElementById('emailInput').value;
      const previewImg = document.getElementById('previewImage');
      const displayAvatar = document.getElementById('displayAvatar');

      document.getElementById('displayUsername').innerText = username;
      document.getElementById('displayEmail').innerText = email;
      document.getElementById('avatarInitial').innerText = username.charAt(0).toUpperCase();

      if (previewImg.src) {
        displayAvatar.innerHTML = `<img src="${previewImg.src}">`;
      }

      bootstrap.Modal.getInstance(document.getElementById('editModal')).hide();
    }
    const offcanvasEl = document.getElementById('offcanvasScrolling');
    const mainContent = document.getElementById('mainContent');

    offcanvasEl.addEventListener('shown.bs.offcanvas', function () {
      mainContent.style.marginLeft = '250px';
      mainContent.style.transition = '0.3s';
    });

    offcanvasEl.addEventListener('hidden.bs.offcanvas', function () {
      mainContent.style.marginLeft = '0';
    });
  </script>
</html>
